<main class="flex flex-col items-center justify-center gap-6 p-7 md:flex-row md:gap-8 rounded-2xl bg-white shadow-md">
    <div>
        <img class="size-48 shadow-xl rounded-md" src="assets/img/cover.f75d494c.png" alt="Card Image">
    </div>
    <article class="flex items-center md:items-center flex-col gap-2">
        <span class="text-2xl font-medium">class Warfare</span>
        <span class="font-medium text-sky-500">The Anti-Patterns</span>
        <section class="flex gap-2 font-medium text-gray-500 ml-4">
            <span>by</span>
            <span>John Doe</span>
            <span>·</span>
            <span>2023</span>
        </section>
    </article>
</main>